.venv
rag_storage
output
.env
.env.docker
.env.lightrag.server
.env.lightrag.server.docker
__pycache__
__init__.py
.mypy_cache
.coverage
.scannerwork
trivy-report.json
trivy-report-fixed.json
coverage.xml
.ruff_cache
.pytest_cache